textarea {
	margin-bottom: -5px;
}

form {
	border-style: double;
	border-color: red;
	border-radius: 5px;
}

form div {
	margin-left: 20px;
	margin-bottom: 15px;
	margin-top: 10px;
}

input[type$='Submit'] {
	margin-left: 20px;
	margin-bottom: 15px;
}
